.container {
	height: 100%;
}

.head {
	font-size: 24px;
	color: #FFFFFF;
}

.middle {
	padding: 0 50px 0 50px;
}

.footer {
	text-align: center;
}

.breadcrumb {
	margin: 15px 0;
}

.sider {
	height: 100%;
	width: 200px;
	background: #FFFFFF;
}

.contentContainer {
	height: 100%;
	padding: 24px 0;
	background-color: #FFFFFF;
}

.content {
	padding: 0 24px;
}

.contentTitle {
	margin-bottom: 15px;
}

.opButton {
	margin-left: 4px;
	margin-right: 3px;
}

.headPromp {
	font-size: 16px;
	float: right;
}

.exitButton {
	position: relative;
	top: -2px;
}

.modalInput {
	margin-top: 5px;
	margin-bottom: 5px;
}

.modalComfirmText {
	font-size: 15px;
}

:global(.user-center-container),
:global(.user-center-container .ant-spin-container),
:global(.user-center-container .ant-spin-nested-loading) {
	height: 100%;
}

:global(.user-center-container .ant-table-title) {
	padding: 8px 0;
}

:global(.user-center-container .modal-container .ant-input) {
	font-size: 15px;
	border-radius: 0px;
}